{% extends "layout.html" %} {% block page_content %}
<div class="bg">
  <img src="https://static.igem.wiki/teams/4838/wiki/hp/education.png" class="background-img"
    style="width: 100%; height: 100%" />
</div>
<div class="wrapper-main">
  <div class="left-side">
    <nav class="nav1">
      <h6 class="heading-nav">Education</h6>
      <div class="sidebar">
        <div>
          <a class="side-items" href="#intro">SynBio Talk</a>
        </div>
        <div>
          <a class="side-items" href="#insta">Instagram Engagement</a>
        </div>
        <div>
          <a class="side-items" href="#school">School Visit</a>
        </div>
        <div>
          <a class="side-items" href="#workshop">Workshop</a>
        </div>
        <div>
          <a class="side-items" href="#aiim">All India iGEM Meet(AIIM)</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="right-side">
    <section class="section" id="intro">
      <div class="heading">SynBio Talk</div>
      <div class="paragraph">
        We firmly embrace the idea that science remains incomplete until it is
        effectively conveyed. As such, we have dedicated our best endeavors to
        the art of scientific communication. This facet of our work is vital in
        not only disseminating knowledge to the broader public but also in
        fostering the development of scientific communities. In pursuit of this
        goal, we have shared our insights on combating cervical cancer with the
        wider population and have encouraged aspiring young scientists to equip
        themselves for future challenges.We achieved this through the following:
      </div>

      <div class="paragraph">
        1. We conducted a workshop for informing aspiring students about what
        synthetic biology is and the overwhelming impact of it in our future.
        This also served as a means of spreading word about iGEM and the amazing
        work done by budding scientists in this field. The workshop had a
        specific focus on imparting knowledge about synthetic biology as a
        multidisciplinary field to a group of aspiring engineers. Through this
        workshop, we aimed to challenge the notion that biology solely revolves
        around cells and organisms. Instead, we aimed to instill in the
        participants the fundamental principles of biological systems and their
        application in designing genetic circuits, programmable cells, and
        engineering complete metabolic pathways, among other aspects.
      </div>
      <div class="paragraph">
        We elaborated that iGEM holds profound importance for college students
        as it offers a unique opportunity to bridge the gap between academic
        knowledge and real-world application. Engaging in the International
        Genetically Engineered Machine competition allows students to gain
        hands-on experience in synthetic biology, honing essential laboratory
        skills and project management abilities. Ultimately, participation in
        iGEM empowers students to develop practical skills, inspires a passion
        for science, and prepares them for future careers in biotechnology and
        synthetic biology.
      </div>
      <!-- image is here -->
      <div class="images" style="height: 0 !important;">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/1.jpg" alt="" style="width: 100%; />
      </div>
      <div class="paragraph">
        The importance of SynBio was highlighted as it offers innovative
        solutions to pressing global challenges, such as healthcare,
        environmental sustainability, and food security. SynBio enables the
        design and engineering of biological systems, leading to the creation of
        novel biotechnological applications, from advanced medical treatments
        and sustainable biofuels to biodegradable materials. It also inspires
        interdisciplinary collaboration, fosters ethical considerations, and
        drives economic growth by spurring entrepreneurship and innovation. As a
        catalyst for progress, SynBio empowers us to address the complex issues
        of our time and chart a course towards a more sustainable and
        technologically advanced future.
      </div>
      <div class="paragraph">
        During the workshop, students had the opportunity to witness our
        previous years, CRISPRLY, and current year's project, NeuraSense, in
        order to help the understand the scope of the field.
      </div>
      <!-- education 2 -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/2.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <!-- education 3 -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/3.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
    </section>
    <!-- 6 images are here -->
    <section class="section" id="insta">
      <div class="heading">Instagram Engagement</div>
      <div class="paragraph">
        Social media is one of the most effective ways to reach a large group of
        people, especially the current generation. Hence, we utilized digital
        media through articles and surveys to expand our outreach to a broader
        spectrum of society. We came up with interesting, easy-to-read and
        informative posts about synthetic biology to get people interested in
        this wonderful field. We wanted to debunk the myths and demystify the
        facts around synthetic biology which say its only about the biology. We
        believe that doing so is vital in order for interdisciplinary research
        to be encouraged.
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/4.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/5.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/6.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/7.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/8.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/9.png" alt="" style="width: 100%; height: 100%" />
      </div>
    </section>
    <!-- 3 images are here -->
    <section class="section" id="school">
      <div class="heading">School Visit</div>
      <div class="paragraph">
        Team iGEM IIT Roorkee as part of its extensive Human Practices Outreach
        conducted a workshop on 11th October 2023 in ABN School, Roorkee on
        Scientific Communication
      </div>
      <div class="paragraph">
        The workshop aimed to foster understanding of the emerging discipline of
        synthetic biology (SynBio) and its extensive potential for addressing
        local and global challenges through innovative and eco-friendly means.
      </div>
      <div class="paragraph">
        An enthusiastic team consisting of four of our core team members
        undertook the workshop and discussed a variety of topics including
        SynBio, iGEM, Applications of SynBio, Machine Learning and its
        applications, Our Previous projects, the current problem statement and
        our solution. Everyone of our team members explained in simple yet
        informative terms the previously mentioned topics to capture the
        attention of the students there. We even focused on our current years
        problems statement, raising awareness about dementia and Alzheimer's
        Disease. The audience was mainly composed of students from 9th to 12th.
        During our team's discussions about the contemporary, captivating
        applications and the future potential and innovative scope of synthetic
        biology (SynBio), the students were enthralled, and we had their
        complete attention. We acquainted the students with the exciting SynBio
        projects in an effort to kindle the flame of innovation in their minds
        and impress upon them the idea that young people can pioneer this
        emerging field. In summary, the experience was truly enriching. The
        school authorities were exceptionally supportive and contributed to the
        seamless execution of the workshop. The students, in particular,
        relished the workshop, and their innate curiosity shone through as they
        posed numerous high-quality, unconventional questions, which our team
        eagerly addressed.
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/10.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/11.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/12.png" alt="" style="width: 100%; height: 100%" />
      </div>
    </section>
    <section class="section" id="workshop">
      <div class="heading">Workshop</div>
      <div class="paragraph">
        During the workshop, we sought to challenge the conventional perception
        that biology is solely concerned with cells and organisms. Instead, we
        aimed to instill the foundational principles of biological systems in
        the context of designing genetic circuits, creating programmable cells,
        and engineering complete metabolic pathways, among other aspects.
        Students had the opportunity to witness the remarkable progress in
        technology, particularly in genome sequencing and editing, DNA and
        protein engineering, which have been the driving forces behind the
        growth of synthetic biology.
      </div>
      <div class="paragraph">
        In addition to these core concepts, the workshop delved into the realm
        of biosensors, a prominent outcome of synthetic biology, and explored
        their applications in various industries, including food production,
        diagnostics, and pharmaceuticals. To provide a practical understanding
        of the advancements in synthetic biology, we also conducted a
        comparative analysis between the traditional non-directional gene
        cloning technique and the newer BioBRICKs approach. This comparison shed
        light on how emerging technologies are addressing the limitations of
        older methods.
      </div>
      <div class="paragraph">
        In line with our commitment to cutting-edge research and innovation, our
        team is currently engaged in an exciting project related to Alzheimer's
        disease. We have developed a groundbreaking Point of Care diagnostic
        kit, which is based on the detection of biomarkers in saliva using DNA
        aptamers. This innovative approach represents a significant leap forward
        in the early diagnosis of Alzheimer's disease and holds the potential to
        revolutionize how we approach the detection and management of this
        condition, which was also discussed in the workshop.
      </div>
      <div class="paragraph">
        We were delighted to have over 125 participants in attendance, and the
        feedback we received following the workshop was overwhelmingly positive.
      </div>
    </section>
    <section class="section" id="aiim">
      <div class="heading">All India iGEM Meet(AIIM)</div>
      <div class="paragraph">
        Our team participated in the All India iGEM Meet held at IISER BHOPAL,
        an annual regional conference that gathers iGEM teams from across India.
        This event provided us with a valuable opportunity to interact with
        fellow iGEM teams, as well as engage in collaborative discussions.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/13.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        During the conference, we were able to present an abstract of our
        project and receive valuable insights and feedback from iGEM
        ambassadors, experts in the field, and other participating teams. Over
        the course of the conference, we attended several talks by iGEM
        ambassadors, synthetic biology experts , fireside talk with IGEM Asia
        oceania promoter, Sana Jalili and workshop on phylogeny modelling by Dr.
        Parimal Kar, associate professor at IIT Indore providing us valuable
        guidance on system design and simulation of biological circuits, and
        predicting outcomes, feasibility and limitations. We also attended the
        IGEM startups event which provided a platform for various IGEM teams to
        pitch their project as a startup in front of entrepreneurs who gave them
        valuable feedback. On the second day, we had the privilege to attend an
        amazing session called Navigating the Scientific Landscape: THE IGEM
        METHODOLOGY by Dr. Lavanya Bhagavatula, founder and CEO of Anvaya
        Biotech which gave us valuable insights about IGEM through her
        experience. The line-up truly put a lot of new ideas into perspective
        for us and left us discussing new opportunities for the weeks that
        followed.
      </div>
      <!-- image is here  -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/14.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        The judging sessions held significant relevance for our team. Throughout
        these sessions, we had the privilege of listening to teams from
        different regions of India as they presented their iGEM project ideas
        and detailed the extent of their research and experimental progress.
        Following our presentation, we engaged in an interactive
        question-and-answer session with a diverse panel of judges.They praised,
        and reaffirmed a lot of our ideas, particularly for the Wet-Lab portion
        of our kit. The judges made a lot of emphasis on the importance and
        social relevance of our kit and gave us the motivation we needed to
        really push for the execution of our Proposed Integrated Human
        Practices. During our poster presentation, the judges brought certain
        aspects of our kit under scrutiny.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/15.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/16.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/education/17.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
    </section>
  </div>
</div>
{% endblock %}