{% extends "layout.html" %} {% block page_content %}
<div class="bg">
  <img src="https://static.igem.wiki/teams/4838/wiki/hp/ihp.png" class="background-img"
    style="width: 100%; height: 100%" />
</div>
<div class="wrapper-main">
  <div class="left-side">
    <nav class="nav1">
      <h6 class="heading-nav">Integrated Human Practices</h6>
      <div class="sidebar">
        <div>
          <a class="side-items" href="#haridwar">Old age Home Visit</a>
        </div>
        <div>
          <a class="side-items" href="#kalyan">Talk with Prof. Kalyan </a>
        </div>
        <div>
          <a class="side-items" href="#feedback">All India iGEM Meet(AIIM) Judges' Feedback</a>
        </div>
        <div>
          <a class="side-items" href="#google">Survey</a>
        </div>
        <div>
          <a class="side-items" href="#interview">Hospital Visit</a>
        </div>
        <div>
          <a class="side-items" href="#neuro">Talk with Neurologist </a>
        </div>
        <div>
          <a class="side-items" href="#capital">gRAD capital</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="right-side">
    <section class="section" id="haridwar">
      <div class="heading">Old age Home Visit</div>
      <div class="paragraph">
        We visited an old age home named Vanaprastha Ashram, situated at
        Jwalapur, Haridwar, Uttarakhand. The word Vanaprastha, we noted, is the
        name for the third stage of life according to the traditional Hindu
        Varnasrama way of life. It literally translates to “journey to the
        forest” and signifies the stage in life where one begins to withdraw
        from the world and pass their social responsibilities over to the next
        generation. So they can completely devote themselves to spirituality in
        the fourth stage.
      </div>

      <div class="paragraph">
        Vanaprastha Ashram is a renowned community for the elderly, focusing on
        living a healthy lifestyle through spirituality and meditation. But the
        name is also interesting because it captures the social alienation that
        comes with aging in our society due to the stark lack of inclusive
        communities and spaces for our elderly. The stories we heard there also
        mirrored this, particularly coupled with the effects of
        neurodegeneration.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image1.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        Interviewing some of the residents and caregivers there was a deeply
        moving experience, as we witnessed firsthand their little joy in being
        able to interact with us meaningfully, and also how much they value
        their own community and practices and how important such spaces of care
        and support are.
      </div>
      <div class="paragraph">
        We talked to Shyama Devi Ji, the caregiver of Mrs. Janaki, an 89 year
        old Alzheimer’s patient. Mrs. Janaki was abandoned by her son 5 years
        after she’d been diagnosed. Her caregiver talked about her deteriorating
        memory, and impulsive behavior, often leading to quarrels with
        neighbors. She forgets the smallest things like whether she has eaten or
        bathed and also who the people around her are. Her caregivers changed
        often because of how difficult it was to keep up with this. There was no
        specific medication provided to her and Shyama Ji was also beginning to
        find it difficult to manage her daily chores.
      </div>
      <div class="paragraph">
        The conversation with Shyama Ji was an unsettling one as we empathized
        with her helplessness but also simultaneously recognised the urgent need
        for professionals better trained in geriatric care in India,
        particularly for dementia-afflicted patients. Despite the attempts of
        several experienced old-age caregivers, all of them recognised that a
        very specific, patient, and different approach is required to be able to
        support a patient with dementia.
      </div>
      <div class="paragraph">
        We also talked to Rekha Ji, the wife of 85 year old Rajan Ji. She told
        us that 2 years ago their family met with a tragic accident when their
        son died, and this caused him to have a stroke which eventually turned
        into Alzheimer’s. Initially, she found it very difficult to manage
        because he could not even manage to faecate on his own. But she was
        grateful for the early diagnosis as now, after two years, Rajan Ji is
        much healthier due to proper medications and his symptoms are mild and
        the dementia is very manageable.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image2.jpg" alt="" style="width: 100%; height: 100%" />
      </div>

      <div class="paragraph">
        Hearing her talk about his progress and the efficacy of medicine if
        diagnosed in time, reaffirmed our faith in the importance of our project
        and refueled our drive to make the early diagnosis of Alzheimer’s an
        easily accessible and affordable reality.
      </div>
      <div class="paragraph">
        Conversations with Alzheimer's patients and their caregivers was an
        enormous opportunity for growth, both for the individuals involved and
        for the broader community. We learnt that it’s important to approach
        such conversations with empathy, patience, and an understanding of the
        unique challenges and experiences of Alzheimer's patients and their
        caregivers. Listening and providing emotional support can be just as
        valuable as talking, as it can create a safe and open space for sharing
        and connection.
      </div>
    </section>
    <section class="section" id="kalyan">
      <div class="heading">Talk with Prof. Kalyan </div>
      <div class="paragraph">
        During the ideation of wet-lab procedures we had the opportunity of
        speaking with Dr. Kalyan Kumar Sadhu, Associate Professor at the
        Chemistry Department of IIT-Roorkee who specializes in nanobio
        interfacial chemistry & chemical biology, nanoparticle-DNA interaction,
        and the detection of biomolecules. What drew our interest to him was his
        work with Amyloid Beta Monomer detection in the 2020 paper, “Two
        instantaneous fluorogenic steps for detection of nanomolar amyloid beta
        monomer and its interaction with stoichiometric copper(II) ion.” At this
        stage we were trying to ascertain the use of Amyloid Beta as a second
        biomarker for our kit and discuss the forms of the peptide we should
        focus on.
      </div>
      <div class="paragraph">
        The paper specifically focuses on the lack of detection strategies
        specific to Amyloid Beta Monomers in the nanomolar regions. They adopted
        a fluorogenic strategy where the specific fluorophore, quenched in the
        presence of AuNPs, is recovered in the presence of specific analytes and
        produces a greater fluorescence in the presence of Aβ. This also
        exploits the Aβ-Cu(II) complex formation.
      </div>
      <div class="paragraph">
        We spoke to him at great length about the various forms Aβ is found in
        the body and its scope as a selective biomarker for Alzheimer’s Disease.
        While talking about his protocols he described the formulation of the
        monomers. He explained the behavior of Aβ monomers and fibrils in
        solution and its rate of aggregation and how we should factor that in
        when considering our aptamers’ selectivity to apply to the type
        heterogenous pool of oligomers found in saliva. We considered the need
        for more research into the specificities of the form of our biomarker
        found in saliva. This also further solidified the need for an easily
        scalable and adaptable tool for more convenient, cheaper clinical trials
        and biosensing studies. We broadened our research and literature review
        into studying various different reported aptamers and the form of the
        peptide they were specific for.
      </div>
      <div class="paragraph">
        He also talked us through the various ethical and practical
        considerations for the use of body fluid samples in our studies and also
        possible future clinical trials. Their studies used Artificial
        Cerebrospinal Fluid and Human Serum Albumin. We discussed the specific
        structural hurdles faced in India in gaining permissions and making our
        kit a reality. However, we concluded feeling quite optimistic and
        motivated as he reaffirmed the need for an accessible kit like ours.
      </div>
    </section>
    <section class="section" id="feedback">
      <div class="heading">All India iGEM Meet(AIIM) Judges' Feedback</div>
      <div class="paragraph">
        At the All India iGEM Meet, we had the opportunity to interact with
        several field-experts and gained valuable insight about multiple facets
        of our project. Prof. Debasis Nayak from IISER Bhopal, despite being
        very enthusiastic and motivating about our project’s direction and
        promise, was particularly concerned about the specificity of our
        biomarkers. The judges emphasized on the strict precisions required of
        Point-Of-Care Diagnostic Kits. Also, since our project, at that stage,
        was just an attempt to characterize the possible risk of developing
        Alzheimer’s, there were questions raised about the eventual goal of such
        a kit particularly when no cure exists.
      </div>
      <div class="paragraph">
        This was before we had conducted several our surveys and visits to get
        into touch with the ground realities of our Problem Statement. With that
        renewed context, keeping their questions in mind the whole time, we
        began to reposition the entire social relevance of our project.
      </div>
      <div class="paragraph">
        We conducted a more extensive literature survey about our selected
        biomarkers and narrowed in on exactly all the further research that
        needed to be done. For example, variations in quantification methods for
        Salivary Amyloid Beta, like the using of Mass Spectrometry would lead to
        non-standardised results as a mass-based quantification wouldn’t detect
        all different oligomers that could possibly be present. Even though
        reports still exist quantifying using ELISA with more reliable results,
        as research is still relatively nascent, such gaps can only be bridged
        through more extensive clinical trials. Particularly with people at
        earlier stages of disease progression. In the light of this, drawing
        inspiration from IISER TVM’s presentation and proposed implementation at
        AIIM, we aim to use our kit to perform these clinical trials cheaper,
        more easily and conveniently, to obtain and ascertain more information
        about our biomarkers, and possibly discover new ones, to re-design,
        build and improve our kit.
      </div>
      <div class="paragraph">
        Second, we also realized the importance of early diagnosis regardless of
        the current existence of a complete ‘cure’. Early diagnosis could, in
        fact, make more people available for clinical trials to develop cures at
        a stage where they could actually be effective. Existing palliative care
        is also significantly more effective in delaying progression and helping
        management. But even apart from that, we learnt the importance of early
        diagnosis in helping families appropriately plan how to support and
        finance their loved ones and urge our healthcare to create more
        institutions for geriatric care.
      </div>
      <div class="paragraph">
        For as long as no cure exists, it is invaluable to learn the internal
        happenings in your brain through a simple saliva sample, so you can make
        more informed decisions. And their loved ones have ample time to learn
        how to build a more caring and inclusive community that can support
        their new needs. In this context, raising awareness, interacting with
        stakeholders, and general Human Practices are vital parts of our project
        and go hand in hand with our solution to solve the problem.
      </div>
    </section>
    <section class="section" id="google">
      <div class="heading">Survey</div>
      <div class="paragraph">
        iGEM IIT-Roorkee conducted an online survey to understand the awareness
        about Alzehimers and related Neuro-degenerative disorders among the
        general populace, which included students, staff and faculties. The
        Study would help us give an understanding regarding the future course of
        action to establish how fatal Alzehimers can be, if left untreated, and
        more dangerously untested. Our Survey got a plethora of responses from
        the target population, With nearly identical Male, Female responses,
        while a disproportionate number of students filled the form, along with
        working population, which helped us understand the knowledge that these
        employment groups possess, accordingly we could plan our workshops, and
        future course of action regarding the usage of our Proposed Kit.
      </div>
      <!-- images -->
      <div class="images" style="height: 0 !important;">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image3.png" alt="" style="width: 100%;"/>
      </div>
      <div class="paragraph">
        We found out that the general knowledge about Alzheimer's is lacking
        with the majority of people describing their understanding between
        somewhat to not-very knowledgeable which shows how unaware people are
        about neurodegenerative disorders in general. This makes our Science and
        Communication aspect of the Project even more important.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image4.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        Secondly, We found that people largely don’t know anyone afflicted with
        Alzheimer, but people do understand that Alzheimer can happen to both
        Younger as well as the older population which is uplifting to see as
        people possess scientific awareness regarding diseases.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image5.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        Thirdly, we also found that people understand that Alzheimer affects the
        Mental and Cognitive abilities of the patient, and people are aware of
        challenges faced by patients in this regard.
      </div>
      <!-- 2 images are here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image6.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image7.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        Lastly, People appreciate increased awareness and education about
        Alzheimer's disease can help mitigate its impact on individuals and
        families as well as pitch in a need for more public awareness and
        advocacy efforts to address Alzheimer's disease and its impact.
      </div>
      <!-- 2 images are here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image8.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image9.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        This gives us a platform to build upon our awareness program among all
        age groups which could lead to increased usage of our Kits, helping aid
        the dormant patients with increased testing with an effective Kit such
        as ours.
      </div>
    </section>
    <section class="section" id="interview">
      <div class="heading">Hospital Visit </div>
      <div class="paragraph">
        As part of our collaboration with IISER Trivandrum, they visited Vithura Taluk Hospital, Thiruvananthapuram,
        Kerala to understand how much people understand about Alzheimer’s, raise awareness, and talk about our project.
        Most people very broadly described Alzheimer’s as a disease involving memory loss. People could not exactly
        differentiate between general memory loss because of age and Alzheimer’s, but still, when asked whether they
        know patients, claimed to not know many, even though they did know people with general memory loss due to age.
        So, we followed that question up with whether they were aware of how testing for Alzheimer’s happens currently.
        People responded with no, while some said by going to a doctor when someone experiences memory loss. We
        described how the neuropathological changes due to Alzheimer’s occur several years before the onset of clinical
        symptoms like memory loss and explained the invasive Cerebrospinal Fluid Testing procedure. Everyone that was
        interviewed agreed and understood the need for an earlier detection method as that would help them plan better
        and be prepared.

      </div>
      <!-- 3 imagea are here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image10.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image11.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image12.png" alt="" style="width: 100%; height: 100%" />
      </div>
      
    </section>
    <section class="section" id="neuro">
      <div class="heading">Talk with Neurologist </div>
      <div class="paragraph">
        One of the most effective ways to indirectly access a large,
        well-interpreted pool of information about the demographic most affected
        by our problem statement is to talk to a Neurologist. The sheer amount
        of experience and expertise that we’re put in contact with and the
        wealth of information they’ve gathered over the years on a case by case
        basis helped us build a comprehensive understanding of the ground
        realities of people who actually reach the hospital for an Alzheimer’s
        Diagnosis.
      </div>
      <div class="paragraph">
        We talked to Dr. Rajesh Patel from Jabalpur, Madhya Pradesh to gain a
        more scientific, and medical perspective on the populations most
        affected by progressive dementias.
      </div>
      <div class="paragraph">
        He talked to us about the progression of Alzheimer's, its stages, and
        the changes he has observed in his patients gradually. He spoke about
        medications like memantine which slow accumulation in the brain and
        described their efficacy in his experience.
      </div>
      <div class="paragraph">
        Then we spoke about popular diagnostic tests. The Mini-Mental State
        Examination (MMSE) is basically a brief 30-point questionnaire that is
        used to assess cognitive impairment and screen for dementia. It was
        first introduced by Marshal Folstein and others in 1975. The MMSE is
        typically administered by a healthcare professional or trained personnel
        and is a valuable tool for assessing cognitive function, particularly in
        older adults.
      </div>
      <div class="paragraph">
        According to Dr. Rajesh Patel, these are the drawbacks of MMSE:
      </div>
      <div class="paragraph">
        Education and Cultural Bias: The MMSE includes questions about language
        and mathematical abilities, which can be biased towards individuals with
        higher levels of education. It may not accurately assess cognitive
        function in people with lower educational backgrounds or from different
        cultural or linguistic groups. Thus failing to be an objective,
        inclusive test.
      </div>
      <div class="paragraph">
        Sensitivity to Mild Cognitive Impairment: The MMSE may not be as
        sensitive in detecting mild cognitive impairment (MCI), which is a
        condition that falls between normal cognitive aging and dementia. MCI
        often requires more specialized assessments.
      </div>
      <div class="paragraph">
        Inadequate for Differential Diagnosis: The MMSE is not sufficient for
        diagnosing specific types of dementia (e.g., Alzheimer's disease,
        vascular dementia) or identifying the underlying causes of cognitive
        impairment. Additional testing and clinical evaluation are necessary for
        a more accurate diagnosis.
      </div>
      <div class="paragraph">
        Limited Scope: The MMSE also suffers from biases regarding what it
        considers to be the ‘valuable measures’ of cognitive ability. It
        primarily evaluates memory, attention, and language abilities. It does
        not assess other important cognitive functions like executive function,
        visuospatial skills, or complex problem-solving, which are affected in
        different types of dementia.
      </div>
      <div class="paragraph">
        There is MRI which is very helpful in differentiating between dementia
        caused by Alzheimer’s to the frontal dementia and dementia caused by
        Parkinson’s. He told us that in Alzheimer’s Memory impairment is
        observed first and then behavioral changes are observed.
      </div>
      <div class="paragraph">
        He also emphasized on lack of infrastructure in India and mostly those
        patients are neglected by family as well. He spoke about the need to
        increase awareness about Alzheimer's diseases and how to provide its
        care. Medicines combined with care can be a great weapon in fighting
        Alzheimers as stated by him.
      </div>
      <div class="paragraph">
        We decided, accordingly, that a purely biomarker based biological POC
        test would be necessary for removing the subjectivity of other tests and
        putting easily interpretable information about the patient’s health
        directly in the patient’s hand. This would avoid the loopholes
        inevitable in subjective clinical tests informed by cultural and
        structural differences.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image13.png" alt="" style="width: 100%; height: 100%" />
      </div>
    </section>
    <section class="section" id="capital">
      <div class="heading">gRAD capital</div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image14.png" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        gradCapital is a pan-India student-driven institution that invests in
        daring student founders. It’s an institution that has funded a lot of
        startups all over India, and is very zealous about newer, sharper and
        effective ideas that students dare to think,and can be implemented.
      </div>
      <div class="paragraph">
        The iGEM team had a highly productive meeting with Abhisekh SethI, the
        founder of GradCapital, to discuss the strategic aspects of implementing
        and distributing our innovative Point of Care Diagnostic Kit for
        Alzheimer's. We also explored market opportunities and potential
        scaling-up of our solution.The discussion kicked off with a
        comprehensive overview of the current status of our diagnostic kit. We
        provided insights into the technology behind our kit, emphasizing its
        non-invasive nature, which allows for the detection of Alzheimer's
        biomarkers in saliva using DNA aptamers. This breakthrough offers the
        potential to revolutionize the early diagnosis and management of
        Alzheimer's disease.
      </div>
      <div class="paragraph">
        We dove into the implementation strategy, discussing the necessary steps
        to ensure the seamless integration of our diagnostic kit into healthcare
        facilities and practices. It was acknowledged that regulatory
        considerations, clinical trials, and partnerships with healthcare
        institutions would be key elements of our implementation plan.
      </div>
      <div class="paragraph">
        The distribution strategy was another critical topic of discussion. We
        explored various distribution channels, including collaborations with
        medical supply companies, partnerships with pharmaceutical companies,
        and direct-to-consumer options. The aim was to make our diagnostic kit
        readily accessible to those in need, while ensuring that healthcare
        professionals and patients alike could easily obtain and use it.
      </div>
      <!-- image is here -->
      <div class="images">
        <img src="https://static.igem.wiki/teams/4838/wiki/ihp/image15.jpg" alt="" style="width: 100%; height: 100%" />
      </div>
      <div class="paragraph">
        The meeting also touched upon the potential market for our diagnostic
        kit. We considered the demographics of Alzheimer's patients, as well as
        caregivers and medical professionals, as our primary target audience.
        Understanding the market dynamics, such as demand, competition, and
        pricing strategies, will be crucial in effectively launching and
        promoting our kit.
      </div>
      <div class="paragraph">
        Lastly, we expressed our interest in scaling up our solution to reach a
        broader audience. We inquired about potential investment opportunities
        and support from GradCapital in achieving this goal. Abhisekh Sethi
        shared valuable insights on fundraising, strategic partnerships, and
        scaling strategies.
      </div>
      <div class="paragraph">
        The meeting concluded with a mutual commitment to collaborate closely in
        the future. We are excited about the potential of our Point of Care
        Diagnostic Kit for Alzheimer's and appreciate the guidance and support
        provided by Abhisekh in navigating the path towards successful
        implementation, distribution, and scalability.
      </div>
    </section>
  </div>
</div>
{% endblock %}