{% extends "layout.html" %} {% block page_content %}
<div class="bg">
  <img
    src="https://static.igem.wiki/teams/4838/wiki/wet-lab/wl-safety.png"
    class="background-img"
    style="width: 100%; height: 100%"
  />
</div>
<div class="wrapper-main">
  <div class="left-side">
    <nav class="nav1">
      <h6 class="heading-nav">Safety</h6>
      <div class="sidebar">
        <div>
          <a class="side-items" href="#google">Safety</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="right-side">
    <section id="safety" class="section">
      <div class="heading">Safety</div>
      <div class="paragraph">
        We recognise that both project safety and personal safety during
        performing experiments is an essential aspect that needs to be given
        utmost importance. Our motto has always been “Better Safe than Sorry”.
        The guidance and training of experienced PhDs and staff here at IIT
        Roorkee helped us in protecting ourselves and preventing any damage to
        our environment.
      </div>

      <div class="paragraph">
        The proposed solution relies on a cell-free system, significantly
        reducing the potential risks associated with handling live organisms and
        mitigating environmental release concerns. Our team carefully crafted
        protocols to minimize exposure to hazardous materials, and we diligently
        adhered to laboratory safety standards. Our experimental procedures were
        thoughtfully developed, aligning with both iGEM Safety Guidelines and
        our Institute's Biosafety Guidelines, following extensive discussions
        with our Principal Investigator and doctoral/graduate students.
      </div>
      <div class="paragraph">
        Our experiments were conducted in a BSL-1 lab as we didn’t use anything
        hazardous, and the chemicals used were handled with care, and complete
        security.Our experiments only dealt with common non-toxic compounds.
      </div>
      <div class="paragraph">
        The team received lab safety training for the duration of a week, prior
        to beginning the experiments, from the senior staff of our lab. The
        training included basic handling skills, safety and emergency briefings,
        knowledge and demonstrations of equipment such as flow hoods, etc.
      </div>
      <div class="images">
        <img
          src="https://static.igem.wiki/teams/4838/wiki/safety/screenshot-2023-10-12-at-6-53-00-pm.png"
          alt=""
          style="width: 100%; height: 100%"
        />
      </div>
    </section>
  </div>
</div>
{% endblock %}
