{% extends "layout.html" %} {% block page_content %}
<div class="bg">
  <img
    src="https://static.igem.wiki/teams/4838/wiki/team/team.png"
    class="background-img"
    style="width: 100%; height: 100%"
  />
</div>
<div class="heading-team">Meet our passionate team</div>
<div class="home-container">
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/riya.png" />
    </div>
    <div class="caption">
      <h3>Riya Sahai</h3>
      <p>
        Hey, this is Riya. I'm a Bioengineering Senior deeply fascinated by the
        working of the human body. Super excited to solve and apply techy
        principles on problems pertaining to healthcare.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/namrata.png" />
    </div>
    <div class="caption">
      <h3>Namrata Kamat</h3>
      <p>
        Hi, this is Namrata. She is a final year Biotechnology undergrad
        exploring the potential of machine learning to solve biological problems
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/shreyash.png" />
    </div>
    <div class="caption">
      <h3>Shreyash Sinha</h3>
      <p>
        meet Shreyash, the "Handler". Knows how to handle any and all problems
        of iGEM, from dev to drylab to even doing them wetlab reactions, he has
        got it all. Legend has it that he has a hidden iGEM tattoo :)
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/prateek.png" />
    </div>
    <div class="caption">
      <h3>Prateek Jha</h3>
      <p>
        Prateek it is, A Nerd? No!, A Bio-Nerd? Hell No. Just a guy fascinated
        with Computer's heartbeat, And Nature's Tinkering. Dabbling, Babbling
        and Gambling with Something of this, Something of that.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img
        src="https://static.igem.wiki/teams/4838/wiki/team/aadi-jeevraj.png"
      />
    </div>
    <div class="caption">
      <h3>Aadi Jeevaraj</h3>
      <p>
        this is aadi. they like studying biology because they firmly believe
        they are just a clump of molecules & a series of chemical reactions &
        nothing else.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/vikhya.png" />
    </div>
    <div class="caption">
      <h3>Vikhya Dawande</h3>
      <p>
        meet Vikhya, the buisnesswoman of the group. Always looking on the
        entrepreneurial side of things, She is quick to analyse the situation.
        An innovator at heart, she can swim faster than a fish.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/shyam.png" />
    </div>
    <div class="caption">
      <h3>Shyam Ashish</h3>
      <p>
        Hi, Meet Shyam pre-final year BT, mostly people call him omnipresent. A
        guy who likes to create problem for himself and loves to solve problems
        for the world. Can fix almost everything.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/chaitaniya.jpg" />
    </div>
    <div class="caption">
      <h3>Chaitanya</h3>
      <p>
        Me Chaitanya, my enthusiasm for the intricate ballet of chemical
        reactions within their own body is simply infectious.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/bivas.png" />
    </div>
    <div class="caption">
      <h3>Bivas Talukdar</h3>
      <p>
        Bivas, so is the name. Biology, so is the subject. B.Tech, so is the
        current degree. Wait, ig this is it.... unless he finds some other
        letters
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/jai.png" />
    </div>
    <div class="caption">
      <h3>Jai Vinayak Goyal</h3>
      <p>
        Meet JVG, an awesome designer. Behind the calm and composed face lies a
        creative mastermind, always thinking of captivating designs with a mix
        of synbio. Also a certified chai lover.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/hima.png" />
    </div>
    <div class="caption">
      <h3>Hima Shashidhar</h3>
      <p>
        Hi guys, this is Hima, a second year BSBE student at IIT Roorkee. She
        has been interested in bio and math for a long time and is very excited
        to mix engineering and biology to make some really cool things.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/atif.png" />
    </div>
    <div class="caption">
      <h3>Md Atif Ahmad</h3>
      <p>
        A burgeoning sophomore in BSBE ,constantly intrigued by the intricate
        blend of biology and cutting-edge tech, a journey enriched by the
        privilege of learning alongside a dynamic team of bio-enthusiasts and
        technology aficionados.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/adit.png" />
    </div>
    <div class="caption">
      <h3>Adit khare</h3>
      <p>
        Meet Adit, a sophomore dynamo at IIT Roorkee. Adit's passion for
        biosciences is boundless, driving him to explore innovative solutions
        and push boundaries.
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/alice.png" />
    </div>
    <div class="caption">
      <h3>Alice</h3>
      <p>
        Heyy meet Alice ,a BSBE sophomore ,she's still stuck with her Wonderland
        theory, trynaa make that rabbit big through the looking window using all
        genetics and biology
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/hardik.png" />
    </div>
    <div class="caption">
      <h3>Hardik Narang</h3>
      <p>
        Hey there, me Hardik a MnC sophomore , who is a psycho for tech and
        machine learning
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/yash.png" />
    </div>
    <div class="caption">
      <h3>Yash Drall</h3>
      <p>
        Meet Yash, an ex-BSBE sophmore reaponsible for supplying iGem with crazy
        designs
      </p>
    </div>
  </div>
  <div class="profile-card">
    <div class="img">
      <img src="https://static.igem.wiki/teams/4838/wiki/team/manav.png" />
    </div>
    <div class="caption">
      <h3>Manav Aggarwal</h3>
      <p>
        Hey there, meet Manav a tech enthusiast trying to explore the
        intersection of Machine Learning and Biotechnology, redefining how we
        approach complex biological challenges.
      </p>
    </div>
  </div>
</div>

<div class="heading-team">Advisor</div>
<div class=" head" style="margin-bottom: 3rem;display: flex;flex-direction: row;width: auto;">
  <div class="img2">
    <img src="https://static.igem.wiki/teams/4838/wiki/team/bhimsariya.png" style="width: 200px; height: 160;" />
  </div>
  <div class="" style="height: fit-content; width: auto;">
    <h3>Dr. Devesh Bhimsariya</h3>
    <p>
      Dr. Devesh Bhimsariya is an Assistant Professor at IIT Roorkee in the
      department of Bio-sciences and Bio-engineering. Professor Bhimsariya is an
      experienced founder, with immense experience in the Field of
      Biotechnology. His research primarily focused on Computational Biology
      especially algorithms demonstrating relationships and interactions between
      DNA and Protein. He teaches the same course to undergraduate and
      post-graduate students. He is associated with the iGEM team as a faculty
      advisor. He loves to work with young and budding researchers and is happy
      to share his knowledge and experience for the iGEM project
    </p>
  </div>
</div>

{% endblock %}
